<% provide(:title,"Bar") %>

<div class="row">
    <div class="col-md-8">
        <h3>任务墙</h3>

        <ul class="cases">

                <% @cases.each do |thecase| %>
                <div class="case">


                    <li id="case-<%= thecase.id %>">
                            <%= link_to thecase.title, thecase ,id:"title"%>
                            <span class="timestamps">
                                Updated_at <%= time_ago_in_words(thecase.updated_at) %> ago.
                            </span>
                            <p class="body"><%=sanitize markdown(thecase.body).to_s[0..450]%></p>
                            <span  class="microposts">
                                <ul class="microposts">
                                    <%= render thecase.microposts[0..2] %>
                                </ul>
                            </span>

                    </li>
                    </div>
                <% end %>
                <%= will_paginate @cases %>
        </ul>

    </div>
</div>
