<li id="post-<%= post.id %>">
  <%= gravatar_for(post.user, size:50) %>
  <span class="case"><%= case_family_for(post.case) %></span>
  <span class="timestamps">
    <%= format_datetime(post.created_at, '%Y-%m-%d %H:%M:%S') %>
    <%= post_options_for(post) %>
  </span>
  <span class="content">
    <%= post_content_for(post) %>
  </span>
</li>
