<% provide(:title, @tag) %>

<%= render partial:"blog/public/header", locals:{ str: "posts" } %>

<%= render 'blog/public/flash_notice' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'blog/home/sidebar' %>
    <div class="col-md-8 main">
      <div class="main-bd">
        <div class="tagcloud_box">
          <div class="tagcloud">
            <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
              <%= link_to tag.name, [:blog, :posts, tag: tag.name], :class => css_class %>
            <% end %>
          </div>
        </div>
        <div class="posts">
          <%= render partial: 'blog/posts/post', collection: @posts, as: :post %>
        </div>
      </div>
      <%= will_paginate @posts, class: "pull-right" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  tagcloud({radius: 80});
</script>
