<% provide(:title, @tag) %>

<%= render partial:"blog/public/header", locals:{ str: "posts" } %>

<%= render 'blog/public/flash_notice' %>

<div id="page" class="site">
  <main class="site-main">
    <div class="site-content inner-wide">
      <div class="tagcloud_box">
        <div class="tagcloud">
          <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, [:blog, :posts, tag: tag.name], :class => css_class %>
          <% end %>
        </div>
      </div>
      <div class="post-grid">
        <%= render partial: 'blog/posts/post', collection: @posts, as: :post %>
      </div>
    </div>
    <%= render partial: "blog/public/sidebar" %>
  </main>
</div>

<script type="text/javascript">
  tagcloud({radius: 140});
</script>