<% provide(:title, post_title_for(@post)) %>

<% provide(:bodycls, "post-template tag-photography") %>

<%= render partial:"blog/public/header", locals:{ str: "posts" } %>

<%= render 'blog/public/flash_notice' %>

<div id="page" class="site">

	<!-- .site-header -->

	<main class="site-main">
		<div class="site-content">

			<article class="post tag-photography">
				<header class="cover post-header">
					<div class="cover-bg" style="background-image: url(<%= @post.case.logo %>);"></div>
					<div class="cover-content">
						<div class="inner">
							<div class="post-tags">
								<% @post.tag_list.each do |tag|  %>
									<%= link_to tag, [:blog, :posts, tag: tag] %>
								<% end %>
							</div>
							<!-- .post-tags -->
							<h1 class="post-title"><%= @post.case.title %></h1>
							<div class="post-meta">
								by
								<span class="post-author"><%= @post.get_nickname %></span>
								on
								<time class="published"><%= format_datetime(@post.updated_at) %></time>
							</div>
							<!-- .post-meta -->
							<a href="#" class="scroll-down square light">
								<span class="icon-down-custom" aria-hidden="true"></span>
								<span class="screen-reader-text">Scroll Down</span>
							</a>
						</div>
						<!-- .inner -->
					</div>
					<!-- .cover-content -->
				</header>
				<!-- .cover -->
				<div class="post-content inner">
					<div class="kg-card-markdown">
						<%= sanitize markdown(@post.content).to_s %>
					</div>
				</div>
				<!-- .post-content -->
				<footer class="post-footer inner">
					<div class="share-post">
						<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
						<wb:share-button appkey="2957192072" addition="text" type="button" ralateUid="1687210550"></wb:share-button>
					</div>
					<div class="author-box">
						<img src="<%= @post.user.avatar %>" alt="John Doe&#39;s Picture" class="author-avatar">
						<h2 class="author-title">About
							<%= link_to @post.get_nickname, '/blog' %>
						</h2>
						<p class="author-description">这家伙很懒，什么都没留下。没错，我就是不想写。</p>
						<p class="author-links">
							<span class="author-location">
								<i class="icon-map-marker" aria-hidden="true"></i>
								China</span>
							<span class="author-website">
								<i class="icon-chain" aria-hidden="true"></i>
								<a href="http://uniclown.com/" target="_blank">uniclown.com</a>
							</span>
							<span class="author-twitter">
								<i class="uni-weibo" aria-hidden="true"></i>
								<a href="https://weibo.com/crownclown" target="_blank">@麻倉月轩</a>
							</span>
						</p>
					</div>
				</footer>
				<!-- .post-footer -->
			</article>
			<!-- .post -->
			<nav class="post-navigation">
				<% if @next %>
					<a href="<%= url_for([:blog, @next]) %>" class="nav-next">
						<div class="nav-bg" style="background-image: url(<%= @next.logo %>)"></div>
						<div class="nav-inside">
							<span class="nav-before">Next</span>
							<span class="nav-title"><%= post_title_for(@next, true) %></span>
							<span class="nav-date"><%= format_datetime(@next.created_at) %></span>
						</div>
					</a>
				<% end %>
				<% if @prev %>
					<a href="<%= url_for([:blog, @prev]) %>" class="nav-previous">
						<div class="nav-bg" style="background-image: url(<%= @prev.logo %>)"></div>
						<div class="nav-inside">
							<span class="nav-before">Previous</span>
							<span class="nav-title"><%= post_title_for(@prev, true) %></span>
							<span class="nav-date"><%= format_datetime(@prev.created_at) %></span>
						</div>
					</a>
				<% end %>
			</nav>
			<!-- .post-navigation -->
		</div>
		<!-- .site-content -->
	</main>
	<!-- .site-main -->

	<%= render partial:"blog/public/sidebar" %>

	<%= render partial:"blog/public/footer_widgets" %>
	<!-- .footer-widgets -->
	<%= render partial: "/blog/public/footer" %>
	<!-- #page -->
