<div class="center jumbotron">
    <h1>Welcome to the Akagi Projcet!</h1>
    <h2>
        以从黑暗中降临的天才赤木茂的名义重生的UniClown The World Ver. 3rd
    </h2>

    <%= link_to "立即注册",signup_path, class:"btn btn-lg btn-primary" %>
    OR <%= link_to"微博登陆", "https://api.weibo.com/oauth2/authorize?client_id=2957192072&redirect_uri=http://uniclown.com/login/authorized",class:"btn btn-lg btn-primary" %>
</div>

<%= image_tag("Z.png", alt:'Akagi logo')%>
<%= image_tag("logo.png", alt:'Akagi logo')%>
<%= image_tag("logo.gif", alt:'Akagi logo')%>
<%= image_tag("yitai.gif", alt:'Akagi logo')%>
<%= image_tag("yareyare.png", alt:'Akagi logo')%>
<%= image_tag("qihei.png", alt:'Akagi logo')%>
