<% provide(:title, "Home") %>

<% provide(:bodycls, "home-template") %>

<%= render partial:"blog/public/header", locals:{ str: "home" } %>

<%= render 'blog/public/flash_notice' %>

<div id="page" class="site">
  <main class="site-main">
    <div class="site-content inner-wide">
      <!-- .cover -->
      <div class="post-grid">
        <%= render partial: "blog/cases/case", collection: @cases, as: :everycase %>
        <!-- .post -->
      </div>
      <!-- .post-grid -->
      <%= will_paginate @cases, :page_links => false %>
    </div>
    <!-- .site-content -->
  </main>
  <!-- .site-main -->

  <%= render partial: "blog/public/sidebar" %>

  <%= render partial: "blog/public/footer_widgets" %>
  <!-- .footer-widgets -->
  <%= render partial: "blog/public/footer" %>
  <!-- #page -->
