<% provide(:title,"最新案件") %>

<%= render partial:"blog/public/header", locals:{ str: "cases" } %>

<%= render 'blog/public/flash_notice' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'blog/home/sidebar' %>
    <div class="col-md-8 main">
      <div class="main-hd">
        <h3>最近的动向</h3>
      </div>
      <div class="main-bd">
        <ul class="cases">
          <% @cases.each do |thecase| %>
              <li class="case" id="case-<%= thecase.id %>">
                <div class="case_hd" data-background="image" data-src="<%= thecase.logo %>"  >
                  <%= link_to thecase.title, [:blog, thecase] , class:"case_title" %>
                  <p class="body"><% case_content_for(thecase) %></p>
                  <div class="filter">
                  </div>
                </div>
              </li>
          <% end %>
          <%= will_paginate @cases %>
        </ul>
      </div>

    </div>
  </div>
</div>
