<% provide(:title, "Home") %>

<% provide(:bodycls, "home-template") %>

<%= render partial:"blog/public/header", locals:{ str: "home" } %>

<%= render 'blog/public/flash_notice' %>

<div id="page" class="site">
  <main class="site-main">
    <div class="site-content">
      <header class="cover post-header">
        <div class="cover-bg" style="background-image: url(<%= @case.logo %>);"></div>
        <div class="cover-content">
          <div class="inner">
            <div class="post-tags">
              <% @case.tag_list.each do |tag|  %>
              <%= link_to tag, [:blog, :posts, tag: tag] %>
              <% end %>
            </div>
            <!-- .post-tags -->
            <h1 class="post-title" style="color: #fff;font-size:40px"><%= @case.title %></h1>
            <div class="post-meta">
              by
              <span class="post-author"><%= @case.get_username %></span>
              on
              <time class="published"><%= format_datetime(@case.updated_at) %></time>
            </div>
                  <div class="post-content inner">
        <div class="kg-card-markdown">
          <%= sanitize markdown(@case.content).to_s %>
        </div>
      </div>
            <!-- .post-meta -->
            <a href="#" class="scroll-down square light">
              <span class="icon-down-custom" aria-hidden="true"></span>
              <span class="screen-reader-text">Scroll Down</span>
            </a>
          </div>
          <!-- .inner -->
        </div>
        <!-- .cover-content -->
      </header>
      <!-- .cover -->
      <!-- .cover -->
      <div class="inner-wide">
        <div class="post-grid">
          <%= render partial: "blog/posts/post", collection: @posts, as: :post %>
        </div><!-- .post-grid -->
      </div>
      <!-- .post-grid -->
      <%= will_paginate @posts, :page_links => false %>
    </div>
    <!-- .site-content -->
  </main>
  <!-- .site-main -->

  <%= render partial: "blog/public/sidebar" %>

  <%= render partial: "blog/public/footer_widgets" %>
  <!-- .footer-widgets -->
  <%= render partial: "blog/public/footer" %>
  <!-- #page -->
