<section class="spotlight style1 orient-<%= (thecase_counter + 1) % 2 == 1 ? 'right' : 'left' %> content-align-left image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2><%= thecase.title %></h2>
    <p><%= thecase.content[0..250] unless thecase.content.nil? %></p>
    <ul class="actions vertical">
      <li>
        <a href="/wechat/cases/<%= thecase.id %>" class="button">More</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <%= case_banner_for(thecase) %>
  </div>
</section>
