<div class="box">
  <h4 style="text-align:<%= (post_counter + 1) % 2 == 1 ? 'right' : 'left' %>;">
    <%= post.get_nickname %>
    <span>reply at </span><%= format_datetime(post.created_at||Time.now) %></h4>
  <p class="content">
    <span class="image <%= (post_counter + 1) % 2 == 1 ? 'right' : 'left' %>">
      <%= image_tag post.get_avatar  %>
    </span><%= sanitize markdown(post.content).to_s %></p>
</div>
