<tr>
  <td><%= thecase.title %></td>
  <td><%= thecase.get_started %></td>
  <td><%= thecase.get_ended %></td>
  <td><%= thecase.place %></td>
  <td><%= thecase.status_str %></td>
  <td><%= thecase.types_str %></td>
  <td>
    <%= link_to '', [:edit, :cpanel, thecase], class:'cm-edit', title: '点击编辑' %> |
    <%= link_to '', [:cpanel, thecase], method: :delete, data: { confirm: '确认删除' }, class: 'cm-close', title: '点击删除' %>
  </td>
</tr>
