<div class="main-bd">
  <%= render partial: 'cpanel/public/error', locals: { obj: thecase } %>
  <div class="form-box">
    <%= form_for [:cpanel, thecase], html: { class: "form-horizontal" } do |f| %>
      <div class="form-group">
        <label class="col-sm-2 control-label">标题</label>
        <div class="col-sm-8">
          <%= f.text_field :title, value: thecase.title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">地点</label>
        <div class="col-sm-8">
          <%= f.text_field :place, value: thecase.place, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">标签</label>
        <div class="col-sm-8">
          <%= f.text_field :tag_list, 'data-role'=>'tagsinput', value: thecase.tag_list.join(',') %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">LOGO</label>
        <div class="col-sm-8" >
          <%= f.text_field :logo, value: thecase.logo, class: 'form-control'  %>
          <%= image_tag thecase.logo, class:"img-responsive", id:"logo_preview" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">开始时间</label>
        <div class="col-sm-3">
          <div class="input-group">
          <%= f.text_field :started_at, value: thecase.started_at, class: 'form-control', placeholder: '请输入开始时间' %>
          <span class="input-group-addon"><i class="cm-calendar"></i></span>
          </div>
        </div>
        <label class="col-sm-2 control-label">结束时间</label>
        <div class="col-sm-3">
          <div class="input-group">
         <%= f.text_field :ended_at, value: thecase.ended_at, class: 'form-control', placeholder: '请输入结束时间' %>
          <span class="input-group-addon"><i class="cm-calendar"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div id="editormd">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control',style:"display:none;" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit '提交', class: 'btn btn-primary' %>
          <%= link_to '返回', [:cpanel, :cases], class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
