<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	  <%= stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track' => false %>
	  <%= javascript_include_tag 'blog', 'data-turbolinks-track' => false %>
	  <%= csrf_meta_tags %>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?61147cb80172d6c864a8830d9345d9e1";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <meta name="google-site-verification" content="-yZgyH1iWVRb9uf31KD3jueTWidnlilddsKPqv2sBwM" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
